#scraper
selenium==4.8.3
webdriver_manager==4.0.1

#IMDB
IMDbPY==2022.7.9

#fire
fire== 0.5.0

#langchain
langchain==0.0.334

#wikipedia
wikipedia-api==0.6.0

#wordcloud
wordcloud

#embeddings
sentence-transformers

#frontend
streamlit

#LLM
openai

#MongoDB
pymongo

#Plot
matplotlib
